.navContainer {
  height: 113px;
}

.authNavContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  padding: 0px 180px;
}

.titleWrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.buttonsWrapper {
  display: flex;
  gap: 12px;
}

.logoStyle {
  width: 248px;
  height: 45px;
  object-fit: contain;
}

.desktopNavbar {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
  padding: 0 180px;
  gap: 46px;
}

.mobileNavbar {
  display: none;
}

@media screen and (max-width: 750px) {
  .logoStyle {
    width: 167px;
    height: 30px;
  }
}

@media screen and (max-width: 1130px) {
  .desktopNavbar {
    padding: 0px 34px;
  }
  .logoStyle {
    width: 167px;
    height: 30px;
  }
}

@media screen and (max-width: 900px) {
  .authNavContainer {
    padding: 0px 34px;
  }
}

@media screen and (max-width: 800px) {
  .logoStyle {
    width: 167px;
    height: 30px;
  }
  .desktopNavbar {
    display: none;
  }
  .mobileNavbar {
    display: flex;
    padding: 0px 34px;
    height: 100%;
    align-items: center;
  }
}
