.newsWrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 180px 34px;
  overflow: scroll;
}

.searchWrapper {
  width: 55%;
  padding: 68px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.mainImageWrapper {
  display: flex;
  flex-direction: row;
  gap: 83px;
}

.mainImage {
  width: 55%;
  height: 55%;
}

.mainTextWrapper {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
}

.secondaryNewsWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 62px;
  width: 100%;
}

.secondaryImage {
  width: 406px;
  height: 305px;
  object-fit: cover;
  margin-right: 57px;
}

.dateAndAuthorWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: max-content;
}

.categoryWrapper {
  width: max-content;
}

.secondaryNewsTextWrapper {
  margin-top: 34px;
  margin-bottom: 34px;
  flex: 1;
}
